engine-strict=true

# default public npm registry
registry=https://registry.npmjs.org

# ensure ssl is enabled
strict-ssl=true

# save exact versions of installed packages
save-exact=true

# trust Capitec Certificate Authority for ssl
#cafile=certs/CapitecRootCA.pem